

/* normal css  */
#humbergur{
    display: none;
}
.header-right .span{
    display: none;
    cursor: pointer;
}

/* responsive 1500px start */
@media (max-width:1500px) {
    
}

/* responsive 1500px end */


/* responsive 1400px start */
@media (max-width:1200px) {
    
}
/* responsive 1400px end */


/* responsive 1200px start */
@media (max-width:1200px) {
    .banner {
        padding: 140px 0;
    }
    .notice h3 {
        margin: 52px 91px 16px 33px;
    }
    .services p {
        padding: 0 15px;
    }
    .services{
        margin-bottom: 20px;
        width: 100%;
    }
}
/* responsive 1200px end */


/* responsive 992px start */
@media (max-width:992px) {
    .header-left {
        text-align: center;
        padding: 11px 0;
    }
    .text-right {
        text-align: center !important;
        padding-left: 0;
    }
    .about-content img{
        margin-bottom: 20px;
    }
    .services h3 {
        font-size: 17px;
    }
    .services p {
        padding: 0 10px;
    }
}
/* responsive 992px end */


/* responsive 768px start */
@media (max-width:768px) {
    .header-left {
        text-align: left;
        padding: 11px 0;
        width: 50%;
    }
    .header-right ul {
        width: 180px;
        position: absolute;
        top: 0;
        right: 0;
        background: #2990DB;
        z-index: 999;
        visibility: hidden;
        opacity: 1;
        transition: .3s;
        transform: translateY(20px);
    }
    .header-right ul li{
        display: block;
        line-height: 45px;
        margin: 0;
    }
    .header-right .span {
        font-size: 35px;
        position: absolute;
        top: -61px;
        right: 3px;
        color: #fff;
        display: block;
    }
    .header-right #humbergur:checked ~ ul {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    .header-right #humbergur:checked ~ .span {
        display: none;
    }
    .header-right .span2{
        display: none;
    }
    .header-right #humbergur:checked ~ .span2 {
        display: block;
    }

    .header-right{
        position: relative;
    }

    .banner h1 {
        width: 461px;
        padding: 7px 20px;
        font-size: 40px;
        margin-top: 15px;
    }
    .banner {
        padding: 70px 0;
    }
    .notice h3 {
        text-align: center;
        width: 100%;
        margin: 0px auto;
    }
    .about-content ul {
        padding-left: 0;
        margin-top: 20px;
    }
}
/* responsive 768px end */


/* responsive 576px start */
@media (max-width:576px) {
    .banner {
        padding: 30px;
    }
    .banner h2 {
        padding: 11px 0;
        margin-bottom: 20px;
        border: 0;
        width: 79%;
        font-size: 28px;
    }
    .banner h1 {
        width: 85%;
        font-size: 32px;
        margin-top: 0;
        border: 0;
        font-size: 25px;
    }
    .text-muted {
        font-size: 12px;
    }
    .banner h2:hover {
        transform: none;
    }
    .banner h1:hover {
        transform: none;
    }
    .about h2:hover {
        letter-spacing: 0;
        transform: none;
    }

}
/* responsive 576px end */
