html{
    scroll-behavior: smooth;
}


img{
    max-width: 100%;
}

/* header-section start */
.header-section{
    background: #2990DB;
}

.header-left img{
    max-width: 150px;
}


.header-right ul{
    text-align: right;
    margin-bottom: 0;
}
.header-right ul li {
	display: inline-block;
	margin-left: -4px;
	line-height: 50px;
	border-right: 1px solid #ddd;
}
.header-right ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    transition: .4s;
    display: block;
    text-transform: uppercase;
}
.header-right ul li:last-child{
    border: none;
}
.header-right ul li a:hover{
    background: #2377b4;;
}
/* header-section End */
/* banner-section start */
.banner-section{
    background-image: url(image/slider\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.banner{
    padding: 200px 0; 
}
.banner h2{
    display: inline-block;
    background: rgba(0, 0, 0, 0.424);
    padding: 10px 15px;
    border-radius: 7px;
    font-family: 'Crimson Text', serif;
    transition: .4s;
}
.banner h2:hover{
    transform: scaleX(1.3);
}
.banner h1{
    width: 500px;
    margin: auto;
    background: #2991dba4;
    padding: 10px 10px;
    border-radius: 7px;
    margin-top: 30px;
    font-family: 'Crimson Text', serif;
    transition: .3s;
}
.banner h1:hover{
    transform: scale(1.4);
}

/* banner-section End */
/* About section start */
.about-section{
    background: #eeececf7;
}
.about h2{
     font-family: 'Crimson Text', serif;
     font-weight:600;
     transition: .4s;
}
.about h2:hover{
    letter-spacing: 20px;
    transform: scaleX(1.3);
}

.notice{
    text-align: center;
}

.notice h3 {
	display: inline-block;
	width: 250px;
	font-size: 50px;
	box-shadow: 3px 0px 10px #c6c6c6;
	margin: 52px 91px 16px -35px;

}


.notice ul li {
	background: #f7f7f7;
	margin-bottom: 10px;
	list-style: none;
	font-size: 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #b0adadde;
}
/* About section End */




/* banner-section End */

/* service section start */
.service-section{
    background: rgb(240, 239, 239);
    padding: 50px 0;

}
.service-section h2{
    font-family: 'Crimson Text', serif;
}
.services i{
    height: 50px;
    width: 50px;
    margin:20px auto;
    text-align: center;
    background: #2990DB;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    border-radius: 0 10px 0 10px;
}
.services:hover{
    color: rgba(255, 255, 255, 0.863);
    background: rgba(51, 179, 230, 0.835);
    transition: .4s;
}


/* service section End */
/* contact section start */
.contact-section{
    background: #fafafa;
}
/* contact section End */